@import "~bootstrap/scss/functions";
@import "bootstrap-variables";

$loginBrandHeight: 100px;

$color-orange: #428BCA;
$color-primary: rgba($color-orange, 0.8);

$color-red: #FF584E;

$color-bg-light-gray: #F2F2F2;
$color-bg-dark-gray: #E5E5E5;
